.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style-type:none;
}

.menu-list li{
  padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 20px;
  width: 200px;
  background-color: #f9f9f9;
}

.search-icon {
  color: #888;
  margin-right: 8px;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 14px;
}
